In [4]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [5]:
df = pd.read_csv('studytime_score_dataset.csv')
df

     StudyTime_hours   Score
0               3.75   66.80
1               9.51  100.00
2               7.32   86.25
3               5.99   68.25
4               1.56   69.23
..               ...     ...
145             0.37   59.59
146             6.10   71.21
147             5.03   74.54
148             0.51   20.16
149             2.79   53.69

[150 rows x 2 columns]

In [6]:
class OwnLR:

    def __init__(self):
        self.m = None
        self.b = None

    def fit(self,X_train,y_train):

        num = 0
        den = 0

        for i in range(X_train.shape[0]):

            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))

        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)

    def predict(self,X_test):

        print(X_test)

        return self.m * X_test + self.b

In [7]:
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [8]:
X

array([3.75, 9.51, 7.32, 5.99, 1.56, 1.56, 0.58, 8.66, 6.01, 7.08, 0.21,
       9.7 , 8.32, 2.12, 1.82, 1.83, 3.04, 5.25, 4.32, 2.91, 6.12, 1.39,
       2.92, 3.66, 4.56, 7.85, 2.  , 5.14, 5.92, 0.46, 6.08, 1.71, 0.65,
       9.49, 9.66, 8.08, 3.05, 0.98, 6.84, 4.4 , 1.22, 4.95, 0.34, 9.09,
       2.59, 6.63, 3.12, 5.2 , 5.47, 1.85, 9.7 , 7.75, 9.39, 8.95, 5.98,
       9.22, 0.88, 1.96, 0.45, 3.25, 3.89, 2.71, 8.29, 3.57, 2.81, 5.43,
       1.41, 8.02, 0.75, 9.87, 7.72, 1.99, 0.06, 8.15, 7.07, 7.29, 7.71,
       0.74, 3.58, 1.16, 8.63, 6.23, 3.31, 0.64, 3.11, 3.25, 7.3 , 6.38,
       8.87, 4.72, 1.2 , 7.13, 7.61, 5.61, 7.71, 4.94, 5.23, 4.28, 0.25,
       1.08, 0.31, 6.36, 3.14, 5.09, 9.08, 2.49, 4.1 , 7.56, 2.29, 0.77,
       2.9 , 1.61, 9.3 , 8.08, 6.33, 8.71, 8.04, 1.87, 8.93, 5.39, 8.07,
       8.96, 3.18, 1.1 , 2.28, 4.27, 8.18, 8.61, 0.07, 5.11, 4.17, 2.22,
       1.2 , 3.38, 9.43, 3.23, 5.19, 7.03, 3.64, 9.72, 9.62, 2.52, 4.97,
       3.01, 2.85, 0.37, 6.1 , 5.03, 0.51, 2.79])

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [10]:
lr = OwnLR()

In [11]:
lr.fit(X_train,y_train)

5.029946726428946
49.037938532659794

In [12]:
X_train[0]

np.float64(8.18)

In [13]:
X_train.mean()

np.float64(4.6965)

In [14]:
X_test[0]

np.float64(0.58)

In [15]:
print(lr.predict(X_test[0]))

0.58
51.95530763398858